<form class="form-horizontal" ng-submit="$ctrl.send($ctrl.tournament)" name="tournamentForm"
  novalidate>
  <div class="form-group form-group-lg has-feedback" wt-has-error="name">
    <label for="tournament-name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tournament-name" placeholder="Tournament Name"
        ng-model="$ctrl.tournament.name" name="name" required>
      <wt-messages field="name" description="tournament name"></wt-messages>
    </div>
  </div>
  <div class="form-group form-group-lg has-feedback" wt-has-error="tournament_type_id">
    <label for="tournament_type_id" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select-tournament-type on-load="$ctrl.carregando = true" name="tournament_type_id"
        ng-model="$ctrl.tournament.tournament_type_id" select-id="tournament_type_id" required>
      </select-tournament-type>
      <fa name="spinner" class="form-control-feedback select-feedback fa-pulse" ng-hide="$ctrl.carregando"
        spin></fa>
      <wt-messages field="tournament_type_id" description="tournament type"></wt-messages>
      <small> Others soon!</small>
    </div>
  </div>
  <div class="form-group form-group-lg">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default btn-lg">Create</button>
    </div>
  </div>
</form>
